/**
 * Fonts
 */
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}
