/**
 * Fonts
 */
@font-face {
  font-family: 'Roboto Light';
  src: url(/0cea39826bd36bbfe33076c544e3a1af.ttf) @ttf;
}
@font-face {
  font-family: 'Roboto Thin';
  src: url(/c38fab23fc1c36894f10dd8014479b53.ttf) @ttf;
}
/**
 * Layout
 */
html, body {
  height: 100%;
  user-select: none;
  margin: 0;
}
body {
  color: #fff !important;
  font-size: 16px;
  font-family: 'Roboto Light';
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(180deg, #0F0F26 0%, #0F0F26 71.14%, #09090A 113.83%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.table {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cell {
  width: 100px;
  flex-grow: 1;
  margin: 1px;
  padding: 5px 10px;
}
.cell--centered {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.cell--stretched {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.cell--column {
    display: flex;
    flex-direction: column;
  }
.mt-x {
      margin-top: 8px;
    }
.mt-2x {
      margin-top: calc(8px * 2);
    }
.mb-x {
      margin-bottom: 8px;
    }
.mb-2x {
      margin-bottom: calc(8px * 2);
    }
/**
 * Elements
 */
.button {
  padding: 6px 20px;
  display: inline-block;
  border-radius: 10px;
  background-color: #4545A5;
  cursor: pointer;
  user-select: none;
}
.button:hover {
    background-color: #353584;
  }
.button:active {
   background-color: #232358;
  }
.button--warning {
    background-color: #910f0f;
  }
.button--warning:hover {
      background-color: #720b0b;
    }
.button--warning:active {
      background-color: #4f0808;
    }
.header {
  font-family: 'Roboto Thin';
  font-size: 36px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 26px;
}
.hidden {
  display: none !important;
}
.short-number {
  width: 50px;
}
.disabled {
  background-color: #333;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  background-color: #515B7D;
  border: none;
  border-radius: 4px;
  color: #DEDEDE;
  text-align: center;
  padding: 4px;
  font-size: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.progressbar {
  height: 8px;
  background: #eee;
  border-radius: 4px;
}
.progressbar__progress {
  width: 0;
  height: 100%;
  background: #189ecc;
  border-radius: 4px;
}
.preview-image {
  height: 400px;
  background-position: 50%;
  background-size: cover;
}
.cross-separator {
  margin: 0 5px;
}
.ext-ending {
  margin-left: 2px;
}
.dirdata {
  margin: 2px auto;
}
#version {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

